.imag img {
    width: 35%;
    height: 500px;
    margin-left: -55%;
    margin-top: -10%;border-radius: 2%;
}

.paraa {
    margin-top: -30%;
    margin-left: 20%;
    color: orange;   font-style: sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.paraa2 {
    margin-left: 57%;   font-style: sans-serif;
}

.new1 {
    margin-left: -85%;   font-style: sans-serif;
    font-weight: 500;


}

.new2 {
    margin-left: -91%;
    margin-top: 1%;
    font-weight: 500;
    font-style: sans-serif;
}

.new3 {   font-style: sans-serif;
    margin-left: -94%;  font-weight: 500;    margin-top: 1%;
}

.new4 {
    margin-left: -82%;   font-style: sans-serif;  font-weight: 500;    margin-top: 1%;
}

.new5 {
    margin-left: -93%;   font-style: sans-serif;  font-weight: 500;    margin-top: 1%;
}

.new6 {
    margin-left: -86%;   font-style: sans-serif;  font-weight: 500;    margin-top: 1%;
}





@media screen and (max-width:1420px) {
    .imag img {
        width: 35%;
        height: 500px;
        margin-left: -54%;
        margin-top: -25%
    }

    .paraa {
        margin-top: -30%;
        margin-left: 20%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 58%;
        /* width: 50%; */
    }

}

@media screen and (max-width:1200px) {
    .imag img {
        width: 35%;
        height: 500px;
        margin-left: -54%;
        margin-top: -30%
    }

    .paraa {
        margin-top: -32%;
        margin-left: 18%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
    .new1{
        font-weight: 700;
    }
    
    .new2 {
        margin-left: -100%;   font-style: sans-serif;font-weight: 700;
    }
    
    .new3 {   font-style: sans-serif;
        margin-left: -176%;font-weight: 700;
    }
    
    .new4 {
        margin-left: -82%;   font-style: sans-serif;font-weight: 700;
    }
    
    .new5 {
        margin-left: -96%;   font-style: sans-serif;font-weight: 700;
    }
    
    .new6 {
        margin-left: -88%;   font-style: sans-serif;font-weight: 700;
    }
   
}

@media screen and (max-width:1060px) {
    .imag img {
        width: 45%;
        height: 500px;
        margin-left: -44%;
        margin-top: -30%
    }

    .paraa {
        margin-top: -43%;
        margin-left: 47%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }

    .paraa2 {
        margin-left: 73%;
    } 
    .new2 {
        margin-right:8%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right:10%;
    }
    
    .new4 {
        margin-right:-3%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right:9%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -88%;   font-style: sans-serif;
    }
}

@media screen and (max-width:900px) {
  
    .new2 {
        margin-right:11%;  font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right:15%;
    }
    
    .new4 {
        margin-left: -76%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right:15%;  font-style: sans-serif;
    }
    
    .new6 {
        margin-right:5%;   font-style: sans-serif;
    }
}

@media screen and (max-width:770px) {
    .imag img {
        width: 45%;
        height: 300px;
        margin-left: -44%;
        margin-top: -30%
    }
    .new2 {
        margin-right:15%;font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right:21%;
    }
    
    .new4 {
        margin-right:-3%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right:21%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -88%;   font-style: sans-serif;
    }
}


@media screen and (max-width:570px) {
 
    .new2 {
     margin-right: 21%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right: 31%;
    }
    
    .new4 {
        margin-right: -4%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right: 30%;  font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -88%;   font-style: sans-serif;
    }
    .paraa {
        margin-top: -40%;
        margin-left: 40%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    } .imag img {
        width: 30%;
        height: 200px;
        margin-right: 10%;
    
        margin-top: -18%
    }
}




@media screen and (max-width:500px) {
  
    .new2 {
       margin-right: 10%;  font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right: 13%;
    }
    
    .new4 {
        margin-right: -3%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right: 13%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -89%;   font-style: sans-serif;
    }
    .paraa {
        margin-top: -105%;
        margin-left: 4%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    } .imag img {
        width: 25%;
        margin-bottom: 37%;
        height: 100px;
        margin-left: 8%;
        margin-top: 20%
    }
    .paraa2 {
        margin-left: 48%;
    } 
}






/* @media screen and (max-width:472px) {
    .paraa {
        margin-top: -110%;
        margin-left: 4%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    }
 
} */

@media screen and (max-width:435px) {
    .paraa {
        margin-top: -110%;
        margin-left: 4%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    } .imag img {
        width: 25%;
        margin-bottom: 39%;
        height: 100px;
        margin-left: 8%;
        margin-top: 20%
    }
    .new2 {
     margin-right: 12%;font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right: 16%;
    }
    
    .new4 {
        margin-left: -73%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right: 18%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -91%;   font-style: sans-serif;
    }
}
/* 
@media screen and (max-width:400px) {
    .new2 {
        margin-left: -105%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-left: -114%;
    }
    
    .new4 {
        margin-left: -78%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-left: -111%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -89%;   font-style: sans-serif;
    }
    .paraa {
        margin-top: -128%;
        margin-left: 4%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    } .imag img {
        width: 25%;
        margin-bottom: 40%;
        height: 90px;
        margin-left: 8%;
        margin-top: 23%
    }
 
} */

@media screen and (max-width:825px) {
    .new2 {
        margin-left: -105%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-left: -114%;
    }
    
    .new4 {
        margin-left: -78%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-left: -111%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -89%;   font-style: sans-serif;
    }
 
}


@media screen and (max-width:550px) {
    .new2 {
        margin-left: -109%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-left: -121%;
    }
    
    .new4 {
        margin-left: -73%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-left: -121%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -91%;   font-style: sans-serif;
    }
 
}


@media screen and (max-width:420px) {
    .new2 {
        margin-left: -104%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-left: -113%;
    }
    
    .new4 {
        margin-left: -80%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-left: -111%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -91%;   font-style: sans-serif;
    }
    
 
}

@media screen and (max-width:1250px) {
    .new2 {
        margin-left: -92%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-left: -96%;
    }
    
    .new4 {
        margin-left: -82%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-left: -95%;   font-style: sans-serif;
    }
    
    .new6 {
        margin-left: -86%;   font-style: sans-serif;
    }
 
}

/* 

@media screen and (max-width:380px) {
    .new2 {
    margin-right: 12%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right: 15%;
    }
    
    .new4 {
        margin-right: -5%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right: -30%;  font-style: sans-serif;
    }
    
    .new6 {
        margin-right: 12%;   font-style: sans-serif;
    }   .paraa {
        margin-top: -165%;
        margin-left: 4%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    } .imag img {
        width: 20%;
        margin-bottom: 46%;
        height: 80px;
        margin-left: 8%;
        margin-top: 40%
    }
 
} */


@media screen and (max-width:415px) {
    .new2 {
        margin-right:13%;   font-style: sans-serif;
    }
    
    .new3 {   font-style: sans-serif;
        margin-right:17%; 
    }
    
    .new4 {
        margin-left: -80%;   font-style: sans-serif;
    }
    
    .new5 {
        margin-right:15%;    font-style: sans-serif;
    }
    
    .new6 {
        margin-right:3%;    font-style: sans-serif;
    }
    .paraa {
        margin-top: -115%;
        margin-left: 4%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    } .imag img {
        width: 25%;
        margin-bottom: 40%;
        height: 100px;
        margin-left: 8%;
        margin-top: 20%
    }
}
@media screen and (max-width:390px){
    .paraa {
        margin-top: -115%;
        margin-left: 4%;
        color: orange;
        font-size: 25px;
        font-weight: bold;

    } .imag img {
        width: 25%;
        margin-bottom: 40%;
        height: 90px;
        margin-left: 8%;
        margin-top: 20%
    }
}



